{% extends "layout.html" %}

{% block title %}
    Add recipe
{% endblock %}

{% block main %}
<form action="{{ url_for('add_recipe') }}" method="post" role="form">
<fieldset>
  <div class="form-group">
    <label for="dishName">Dish Name</label>
    <input id="dishName" class="form-control" name="dishName" placeholder="e.g. Onion Soup" type="text" />
    <span id="dishNameCheck" class="check"></span>
  </div>
  <div class="form-group">
    <label for="recipeItems">Ingridients</label>
    <textarea id="recipeItems" class="form-control" name="recipeItems"
    placeholder="Please, insert coma separated ingridients in singular and end
 with nothing e.g. onion, cabbage, chicken breast, soy sauce" rows=3></textarea>
    <span id="recipeItemsCheck" class="check"></span>
  </div>
  <div class="form-group">
    <label>Dish type</label><br>
    <div id="dishType" class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="mealType" id="breakfast" value="breakfast" autocomplete="off" checked>Breakfast
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="mealType" id="dinner" value="dinner" autocomplete="off">Dinner
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="mealType" id="supper" value="supper" autocomplete="off">Supper
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="mealType" id="universal" value="universal" autocomplete="off">Universal
  </label>
</div>
  </div>
  <div class="form-group">
    <label for="recipeHowTo">Recipe</label>
    <textarea id="recipeHowTo" class="form-control" name="recipeHowTo"
    placeholder="Recipe..." rows=5></textarea>
    <span id="recipeHowToCheck" class="check"></span>
  </div>
  <div class="form-group">
      <button id="submit-button" class="btn btn-default btn-block" type="submit">Add recipe</button>
  </div>
</fieldset>
</form>
{% endblock %}
