{% extends "layout.html" %}

{% block title %}
    Generate meals
{% endblock %}

{% block main %}
<h2> This site is under construction </h2>
<div class="form-group">
  <textarea id="fridgeItems" name="fridgeItems" class="form-control" type="text"
  placeholder="Please, insert coma separated ingridients in singular and end
with nothing e.g. onion, cabbage, chicken breast, soy sauce" rows="3">
</textarea>
</div>
<div class="form-group">
<button id="generateMeals" class="btn btn-default btn-block" type="submit"
>Generate Meals</button>

</div>
{% endblock %}
