<!DOCTYPE HTML>
<html lang="pl">
    <head>
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- Bootstrap stylesheets -->
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/solar/bootstrap.min.css" rel="stylesheet"/>


        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- own css -->
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

        <!-- typeahead: https://github.com/corejavascript/typeahead.js/blob/master/doc/jquery_typeahead.md -->
        <script src="https://cdn.rawgit.com/corejavascript/typeahead.js/master/dist/typeahead.jquery.js"></script>

        <!-- http://stewartjpark.com/Flask-JSGlue/ -->
        {{ JSGlue.include() }}

        <!-- own script -->
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>

        <title>Meal planner: {% block title %}{% endblock %}</title>

    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('index')}}">Meal Planner</a>
                </div>
                {% if session.user_id %}
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index')}}">Home</a></li>
                    <li><a href="{{ url_for('check_recipes')}}">Check recipes</a></li>
                    <li><a href="{{ url_for('add_recipe')}}">Add recipe</a></li>
                    <li><a href="{{ url_for('generate_meals')}}">Generate meals</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('logout')}}">logout</a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('register')}}">Register</a></li>
                    <li><a href="{{ url_for('login')}}">Login</a></li>
                  </ul>
                {% endif %}
            </div>
        </nav>
        <div class="jumbotron text-center">
            <h1>Meal planner</h1>
            <h3>Let me plan your meals - for you</h3>
        </div>
        <div class="container">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              <header>
                {% for category, message in messages%}
                  <div class="alert {{category}} alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      {{message}}
                  </div>
                {% endfor %}
              </header>
          {% endif %}
          {% endwith %}
          <main>
              {% block main %}{% endblock %}
          </main>

        </div>
    </body>


</html>
